{% load staticfiles %}
{% load dajaxice_templatetags %}

<!DOCTYPE html>
<html>
	<head>
		<title> {% block title %} {% endblock %} </title>
		<script type='text/javascript' src= {% static 'jquery.dajax.core.js' %} ></script>
		<script type='text/javascript' src= {% static 'jquery-1.11.0.min.js' %} ></script>
		<link rel='stylesheet' type='text/css' href = {% static 'bootstrap/css/bootstrap.min.css' %}>
		<script type='text/javascript' src= {% static 'bootstrap/js/bootstrap.min.js' %} ></script>
		<script type='text/javascript' src= {% static 'js/datetimepicker.js' %} ></script>
		<style> {% block style %} {% endblock %} </style>
		<script> {% block script %} {% endblock %} </script>
		{% block head %} {% endblock %}
	</head>
	
	<body>
		{% block body %} {% endblock %}
	</body>
<html>