{% extends 'portal/base.html' %}
{% load dajaxice_templatetags %}

		{% block title %}Dashboard{% endblock %}
		
		{% block head %} 
			{% dajaxice_js_import %}
		{% endblock %}
		
		{% block style %}
			#add_event {
				position:fixed;
				top:10px;
				right:100px;
				background-color:pink;
			}
			#add_event #submit {
				float:right;
				margin:5px;
			}			
			#add_event div {
				padding:5px;
			}
		{% endblock %}
		
		{% block script %}
		    $(document).ready(function(){
				Dajaxice.portal.reload(Dajax.process)
			});
			
			function change_type() {
				$('#id_date_time').prop('type', 'datetime-local');
			}
			
			function change_input() {
				value = $('#id_date_time').val();
				value = value.replace('T',' ');
				$('#id_date_time').prop('type', 'datetime');
				$('#id_date_time').val(value);
				return true;
			}
			
			function change_input_back() {
				value = $('#id_date_time').val();
				value = value.replace(' ','T');
				$('#id_date_time').prop('type', 'datetime-local');
				$('#id_date_time').val(value);
				return true;
			}
			
			function confirm_deletion() {
				if (confirm('Are you sure you want to delete this entry?')){
					return true;
				}				
				else return false;
			}
			
			function cancel() {
				$('#add_event').html('');
			}
			
			function change_editform() {
				value = $('#id_date_time').val();
				value = value.replace(' ','T');
				$('#id_date_time').prop('type', 'datetime-local');
				$('#id_date_time').val(value);
			}
			
			function change_select() {
				$('#insti').select2({placeholder:'Campus'});
				$('#type').select2({placeholder:'Category'});
			}
			
		{% endblock %}	
	{% block body %}
		<h3>EVENTS</h3>
		<div id='div_events'>
		</div>
		<button onclick='Dajaxice.portal.add_event(Dajax.process)'>Add Event</button>
		<div id='add_event'></div>
		
		<h3>UPDATES</h3>
		<div id='div_updates'>
		</div>
		
		<button onclick='Dajaxice.portal.add_update(Dajax.process)'>Add Update</button>
	{% endblock %}
		
		
		
		
		
		
		
		
		
