{% extends 'portal/base.html' %}
{% load dajaxice_templatetags %}

{% block head %}
	{% dajaxice_js_import %}
{% endblock %}
{% block title %}Events{% endblock %}

{% block body %}
	<h1>{{ event.name }} </h1>
	<p>{{ event.description }}</p>
	<p><strong>When:</strong> {{ event.date_time }}</p>
	<p><strong>Where:</strong> {{ event.location }}	</p>	
	<button class='btn btn-primary btn-xs' onclick="Dajaxice.portal.join_event(Dajax.process, {'user_id': {{ user.id }} , 'event_id': {{ event.id }} })" >Join</button>
	<br>
	<strong>Those showing up: </strong>{% for e in event.users.all %}{{e.user.get_full_name}}, {% endfor %}
	<br>	
	<div id='notif' style='color:red'></div>
{% endblock %}

<!--Dajaxice.portal.add_user(Dajax.process, {'user_id': {{ user.id }} , 'event_id': {{ event.id }} })-->