{% extends 'portal/base.html' %}
{% load dajaxice_templatetags %}

{% block head %}
	{% dajaxice_js_import %}
{% endblock %}
{% block title %}Events{% endblock %}
{% block script %}
    var joined = {{ joined }};
	if(joined == 1) {
		$(document).ready(function() { $('#join').hide()});
	}
	else {
		$(document).ready(function() { $('#leave').hide(); $('#number').hide()});
	}
{% endblock %}

{% block body %}
	<h1>{{ event.name }} </h1>
	<p>{{ event.description }}</p>
	<p><strong>When:</strong> {{ event.date_time }}</p>
	<p><strong>Where:</strong> {{ event.location }}	</p>
	{% if user.is_authenticated %}
	<p>
	<button id='join' class='btn btn-primary btn-xs' onclick="Dajaxice.portal.join_event(Dajax.process, {'user_id': {{ user.id }} , 'event_id': {{ event.id }} })" >Join</button>
	<button id='leave' class='btn btn-warning btn-xs' onclick="Dajaxice.portal.leave_event(Dajax.process, {'user_id': {{ user.id }} , 'event_id': {{ event.id }} })" >Leave</button>
	</p>
	{% endif %}
	<span id='number'>You and </span>{{num}} other(s) are going 
	<div id='notif' style='color:red'></div>
	
{% endblock %}

<!--Dajaxice.portal.add_user(Dajax.process, {'user_id': {{ user.id }} , 'event_id': {{ event.id }} })-->